*{
	font-size: 12px;
}

body{
	background-color: #7f8c8d;
}

.side-panel{
	/*position: fixed;*/
	height: 50px;
	width: 30%;
	margin-right: 30x;
}

.side-panel ul{
	list-style: none;
}

.container{
	width: 50%;
	margin: 20px auto;
}
.box{
	width: 100%;
}

.header{
	height: 200px;
	background-color: #2ecc71;
	display: table;
}

.vertical-element{
	padding-left: 5%;
	display: table-cell;
	vertical-align: bottom;
}

.shadow{
	height: 5px;
	background-color: #27ae60;
}

.menu{
	height: 30px;
	background-color: #34495e;
	/*margin-top:-16px;*/

}

ul{
	margin: 0;
}
.menu ul li{
	display: inline-block;
	color: white;
	float: right;
	/*vertical-align: right;*/
	/*padding-right: 5%;*/
}

.dark-green{
	background-color: #2c3e50;
}



.container-second{
	background-color: #ecf0f1;
	margin-top: -11px;
}
h3{
	margin-left: 10px;
}

h4{
	margin-left: 15px;
}

.underline{
	padding-left: 5px;
	border-bottom-color: 1px solid grey;
}

p{
	padding: 0 20px;
}

.section-table > table, th, td{
	border: 1px solid grey;

}

.section-table table{
	margin: 0 10px;
	/*width: 100%;*/
}

.section-table th{
	text-align: left;
}

.section-table td{
	/*height: 100px;*/
}



.button{
	padding: 5px 8px;
	border: 1px solid;
}